
#userInput {
    display: block;
}

/*#main-content{
    width: 95%;
    margin: auto;
}*/

.person-card {
    display: inline-block;
    /*background-color: #A6E560;*/
    width: 20%;
    padding: 2%;
    margin: 2%;
}

.pic {
    width: 200px;
    height: 200px;
}

.clear {
    clear: both;
}

.blue {
    background-color: #9AC3E5;
}

.yellow {
    background-color: #E5E58C;
}

.border {
    border:3px dotted #161FE5;
}

textarea {

    width: 50%;
}